.App {
    background:#54c3ef;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    min-height: 100vh;
    padding: 4% 16%;
    box-sizing: border-box;
  }
  
 .Top{
    font-size: 70px;
    text-align: center;
    color: #fad744;
    text-shadow: 2px 5px #2b3252
  }